<!DOCTYPE>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/css.css"/>
    <script type="text/javascript" src="__PUBLIC__/script/jquery-1.7.2.min.js"></script>
    <script>
    function del_user(userid)
	{
    	var msg = window.confirm("您确定删除吗?");
    	if (msg) {
    		var url='{:U('user/deleteuser')}';
    		var p='{:I('get.p','')}';
    		var tbuserid=$("#TbUserID").attr("value");
    		$.post(url, {p: p,tbuserid:tbuserid,userid:userid}, function(data) {
    			alert(data.info);
    			location.href=data.url;
    		});
    	}
    	else
    	{
    		return false;
    	}
    }
    function restuserpwd (userid) {
    	var msg = window.confirm("您确定重置密码吗?");
    	if (msg) {
    		var url='{:U('user/restuserpwd')}';
    		var p='{:I('get.p','')}';
    		var tbuserid=$("#TbUserID").attr("value");
    		$.post(url, {p: p,tbuserid:tbuserid,userid:userid}, function(data) {
    			alert(data.info);
    			location.href=data.url;
    		});
    	}
    	else
    	{
    		return false;
    	}
    }
    </script>
</head>
<body>
    <form action="{:U('user/list')}" method="get" >
        <div>
            <div class="PageHeader">
                <div class="PageTitle">用户管理 > 用户列表</div>
            </div>
            <div class="PageToolBar">
                <img src="__PUBLIC__/Images/add.gif"><a href="{:U('user/add')}">添加用户</a>
            </div>
            <div id="PageTitle">
                    用户ID或用户姓名：
                  <input type="text" value="{$TbUserID}" id="TbUserID" name="TbUserID" width="83" />
                    &nbsp;
                    <img src="__PUBLIC__/images/search.gif" alt="#" onclick="submit();" style=" cursor: hand; "/>
                </div>
            <div id="container">
                <div id="content">

                    <table border="0" id='userlist' class="GridTable">
                    	<thead><tr><th>用户ID</th><th>用户名</th><th>操作</th></tr></thead>
						<tbody>
							<volist name="userlist" id="item">
								<tr><td>{$item.userid}</td><td>{$item.username}</td>
								<td><a href="{:U('user/edit',array('userid'=>$item[userid]))}" >编辑</a>&nbsp;&nbsp;<a href="#" onclick="restuserpwd('{$item.userid}')">重置密码</a>&nbsp;&nbsp;<a href="#" onclick="del_user('{$item.userid}')">删除</a>&nbsp;&nbsp;</td>
								</tr>
							</volist>
						</tbody>
                    </table>
                    <table id="pager"><tr><td><div class="pages">{$page}</div></td></tr>
                    </table>
                </div>
            </div>
        </div>
    </form>
</body>
</html>