<!DOCTYPE>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/css.css"/>
    <script type="text/javascript" src="__PUBLIC__/script/jquery-1.7.2.min.js"></script>
</head>
<body>
    <form action="{:U('user/userlist')}" method="get" >
        <div>
            <div class="PageHeader">
                <div class="PageTitle">用户管理 > 用户列表</div>
            </div>
            <div class="PageToolBar">
                <img src="__PUBLIC__/Images/add.gif"><a href="useredit.php">添加用户</a>
            </div>
            <div id="PageTitle">
                    用户ID或用户姓名：
                  <input type="text" id="TbUserID" name="TbUserID" width="83" />
                    &nbsp;
                    <img src="__PUBLIC__/images/search.gif" alt="#" onclick="submit();" style=" cursor: hand; "/>
                </div>
            <div id="container">
                <div id="content">

                    <table border="0" id='userlist' class="GridTable">
                    	<thead><tr><th>用户ID</th><th>用户名</th><th>操作</th></tr></thead>
						<tbody>
							<volist name="userlist" id="item">
								<tr><td>{$item.userid}</td><td>{$item.username}</td>
								<td><a href="{:U('user/deleteuser',array('userid'=>$item['userid']))}">删除</a></td>
								</tr>
							</volist>
						</tbody>
                    </table>
                    <table id="pager"><tr><td><div class="pages">{$page}</div></td></tr>
                    </table>
            </div>
        </div>
    </form>
</body>
</html>